<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Layout utilizando HTML5</title>
</head>
<body>
    <header>
        <h1>Instituto Federal do Triângulo Mineiro</h1>
        <nav>
            <ul>
                <li><a href="">Institucional</a></li>
                <li><a href="">Campi</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Uberlândia Centro</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus enim corporis recusandae sapiente quo eius incidunt quam tenetur alias culpa dignissimos commodi vitae eum voluptatem adipisci exercitationem corrupti, nihil iure.
            Officia animi sapiente nemo ea velit? Error ea voluptas natus praesentium sed voluptates, labore, vero ratione ducimus illum, iure sapiente similique magni recusandae? Assumenda, eligendi! Minima blanditiis voluptas quaerat exercitationem.</p>
            <img src="./img/iftm.jpg" alt="imagem de entrada do IFTM">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor excepturi odit labore culpa quo porro debitis nihil ut fugit, soluta inventore eos numquam nobis, voluptatum expedita fuga fugiat consectetur in.
            Amet quisquam, sapiente incidunt ut praesentium quae voluptatem eos, ab, quod dolorem perferendis porro earum accusamus voluptatibus ratione dolore! Id, asperiores quae. Doloribus vitae corrupti libero veniam totam, eligendi officia.</p>
            <ul>
                <li>Ensino</li>
                <li>Pesquisa</li>
                <li>Extensão</li>
                <li>Outras atividades</li>
            </ul>
    </section>

    <section>
        <h2>Ituiutaba</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque illum perspiciatis a accusantium eligendi nihil fugit voluptatum odio debitis iure quas quis, veniam similique provident! Qui, ad molestias. Nam, quidem.
        Cum repudiandae tempora provident quae illum dignissimos, quos totam ipsam, at reiciendis fugiat quaerat dolore odio, ab perspiciatis nisi dicta quas. Quia, exercitationem maiores illo illum perspiciatis odit cupiditate minima!</p>
        <img src="./img/iftm2.jpg" alt="estrutura do IFTM">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vitae quisquam soluta eos dignissimos explicabo minus, saepe excepturi hic a. Ipsam cumque debitis sint, non eligendi ducimus laboriosam repellendus beatae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi quas eveniet fugiat, accusamus, reiciendis voluptatum placeat blanditiis ipsa optio, culpa repudiandae et magnam odit expedita facilis in minima tempora.
        Doloremque natus suscipit officia voluptatem libero quod enim, harum neque hic voluptates, expedita molestias rem laboriosam debitis dolor. Fugiat in adipisci magni error molestiae voluptatum ad eum inventore porro explicabo.</p>
    </section>

    <section>
        <h2>Patos de Minas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolore velit asperiores? Ipsam officiis molestias atque doloribus eos dolore quae nam quo, labore odit, similique dolores deserunt nisi aliquam debitis!
        </p>
        <img src="./img/iftm3.jpg" alt="campus pato de minas imagem">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae impedit, at cupiditate nemo temporibus error dolorem doloremque? Eos inventore ipsa quo magnam animi. Tenetur dignissimos modi magni corrupti dolor non.
        Architecto neque accusantium quod nostrum quaerat dolore debitis ab reiciendis aut natus, impedit quos esse possimus. Doloribus perspiciatis atque sint laborum, odio nostrum et rerum. Sequi, quod tenetur! Incidunt, alias!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum placeat pariatur ipsum exercitationem? Quisquam neque aut tempora esse tempore, corrupti quos? Reiciendis animi consectetur cumque sed nam aut facilis molestiae.</p><br>
        <p><a href="#">Voltar ao topo</a></p>
    </section>
    </main>

    <footer><p>Rodapé da página</p></footer>
</body>
</html>
